@import "tailwindcss";

/* ----------------- Theme ----------------- */

@theme {
    --golden-ratio: 1.61803398875;
    --color-color: #5d3136;
    --color-line-color: #7c5658;
    --color-line-color-soft: #d8bfc0;
    --color-lineColor: #d8bfc0;
    --color-bgCard: #f9ecdf;
    --color-soft: #f9ecdf;
    --color-white: #ffffff;
    --color-gray: #6f6f6f;
    --color-bg: #5D3136;
    --color-parag: #4e4e4e;
    --color-dark: #1f1f1f;
    --color-black: #000000;
    --color-warning: #b72b2b;
    --prod-card-aspect: 1/1.25;
    --prod-card-padding-mobile: 0%;
    --prod-card-padding-desk: 0%;
    --prod-card-img-fit: contain;
    --padding-global-mobile: 2.5rem;
    --padding-global-tablet: 3.5rem;
    --padding-global-desk: 6rem;
    --border-radius-mobile: 0.3rem;
    --border-radius-tablet: 0.3rem;
    --border-radius-desk: 0.3rem;
  

  /* Typography */
  --font-crimson: var(--font-crimson), serif;
  --font-lora: var(--font-lora), serif;
  --font-kode-mono: var(--font-kode-mono), monospace;
  --font-sans: var(--font-kode-mono), monospace;

  --animate-ping: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  
}

/* ----------------- Base ----------------- */
@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: light;
  }

  ::-webkit-scrollbar { width: 0; background: transparent; }

  ::selection { background: rgba(255, 255, 255, 0.1); }

  img { image-rendering: optimizeQuality; }
}

/* ----------------- Components ----------------- */
@layer components {
  .btn {
    @apply bg-color border border-color font-normal text-white text-center 
           py-1 px-8  transition-colors duration-300 ease-in-out 
            rounded-full max-w-96 hover:bg-transparent hover:text-color; 
            /* hover:bg-transparent hover:text-color */
  }
  .btn-secondary {
    @apply  border border-color font-normal text-color bg-transparent text-center 
           py-1 px-8  transition-colors duration-300 ease-in-out 
            rounded-full max-w-96; 
            /* hover:bg-transparent hover:text-color */
  }
  .cursus-card-corners-rounded {
    @apply rounded-tr-sm md:rounded-tr-xl lg:rounded-tr-3xl rounded-bl-sm md:rounded-bl-xl lg:rounded-bl-3xl rounded-br-sm md:rounded-br-xl lg:rounded-br-3xl;
  }
  .cursus-card-rounded {
    @apply rounded-tr-sm md:rounded-tr-xl lg:rounded-tr-3xl rounded-bl-sm md:rounded-bl-xl lg:rounded-bl-3xl;
  }

  .hover-underline-link {
    @apply py-1 w-fit h-fit relative inline-block text-color after:bg-line-color
    after:content-[''] after:absolute after:bottom-1 after:left-0
    after:h-[1px] after:w-full
    after:scale-x-0 not-hover:after:origin-right after:origin-left
    after:transition-transform after:duration-500
    hover:after:scale-x-100;
  }
  .underline-link {
    @apply py-2 w-fit h-fit relative inline-block text-color after:bg-line-color
    after:content-[''] after:absolute after:bottom-1 after:left-0
    after:h-[1px] after:w-full
    after:scale-x-100 not-hover:after:origin-left after:origin-right
    after:transition-transform after:duration-500
    hover:after:scale-x-0;
  }
  
}

@layer utilities {

}