@import "tailwindcss";

/* ----------------- Theme ----------------- */

@theme {
    --color-color: #5d3136;
    --color-line-color: #7c5658;
    --color-line-color-soft: #d8bfc0;
    --color-lineColor: #d8bfc0;
    --color-bgCard: #f9ecdf;
    --color-soft: #f9ecdf;
    --color-white: #ffffff;
    --color-gray: #6f6f6f;
    --color-bg: #5D3136;
    --color-parag: #4e4e4e;
    --color-dark: #1f1f1f;
    --color-black: #000000;
    --color-warning: #b72b2b;
    --prod-card-aspect: 1/1.25;
    --prod-card-padding-mobile: 0%;
    --prod-card-padding-desk: 0%;
    --prod-card-img-fit: contain;
    --padding-global-mobile: 2.5rem;
    --padding-global-tablet: 3.5rem;
    --padding-global-desk: 6rem;
    --border-radius-mobile: 0.3rem;
    --border-radius-tablet: 0.3rem;
    --border-radius-desk: 0.3rem;
  

  /* Typography */
  --font-crimson: var(--font-crimson), serif;
  --font-lora: var(--font-lora), serif;
  --font-kode-mono: var(--font-kode-mono), monospace;
  --font-sans: var(--font-kode-mono), monospace;
}

/* ----------------- Base ----------------- */
@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: light;
  }

  body {
    @apply bg-bg text-color font-sans;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-scrollbar { width: 0; background: transparent; }

  ::selection { background: rgba(255, 255, 255, 0.1); }

  img { image-rendering: optimizeQuality; }
}

/* ----------------- Components ----------------- */
@layer components {
  .btn {
    @apply bg-color font-normal text-white text-center 
           py-1 px-8 rounded-full transition-colors duration-300 ease-in-out 
           hover:bg-line-color;
  }

  .card {
    @apply bg-bgCard p-4 rounded shadow-md transition-transform 
           duration-300 ease-in-out hover:shadow-lg;
  }

  .header {
    @apply text-3xl font-crimson font-bold mb-4;
  }

  .footer {
    @apply text-sm text-gray mt-8;
  }
}
